*{
	box-sizing: border-box;
}

body{
	font-family: 'Montserrat', sans-serif;
	min-height: 100vh;
	color: #222;
}

:root{

	/* backgrounds */
	--mediumBlue: #00587c;
	--skyBlue: #68ced3;

	/* fonts */ 
	--fontWhite: #eee;
	scroll-behavior: smooth;
}

img{
	max-width: 100%;
}

.header{
	background-color: var(--mediumBlue);
	color: var(--fontWhite);
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}

.header__fixed{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
	animation-name: nav;
	animation-duration: .5s;
}

@keyframes nav{
	from{
		transform: translateY(-100%);
		opacity: 0;
	}

	to{
		transform: translateY(0);
		opacity: 1;
	}
}

.header__logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: .8rem;
	padding-top: 4px;
	padding-bottom: 4px;
}

@media screen and (min-width: 768px){
	.header__logo{
		padding-left: 2.2rem;
	}
}

.header__title{
	margin:0;
}

.header__toggle{
	font-size: 2em;
	padding: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.topbar{
	width: 100%;
	background-color: var(--mediumBlue);
	position: absolute;
	top: 63px;
	transform: translateX(-100%);
	z-index: 100;
	transition: transform .5s;
}

.topbar--show{
	transform: translateX(0);
}

.menu{
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__links{
	display: block;
	width: 100%;
	padding: 1.78em 2em;
	text-decoration: none;
	color: var(--fontWhite);
	text-shadow: 0px 1px 1px rgba(0,0,0,.5);
}

.menu__item{
	transition: background-color .5s;
}
@media screen and (min-width: 768px){
	.menu__item:hover{
		background-color: var(--fontWhite);
	}

	.menu__links:hover{
		color: var(--mediumBlue);
	}
}

.overview__header{
	background-image: linear-gradient(to bottom, rgba(0, 88, 124, 1), rgba(104,206,211,.2)), url('../assets/images/code.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 6rem 2rem;
	color: #eee;
	min-height: 420px;
}


.overview__title{
	font-size: 2.5rem;
	text-transform: uppercase;
	margin:0;
	text-align: center;
	font-weight: 400;
	letter-spacing: 3px;
}

@media screen and (min-width: 768px){
	.overview__title{
		font-size: 4rem;
	}
}


.overview__text{
	font-weight: 400;
	letter-spacing: 2px;
}

.overview__text--lighter{
	font-weight: 300;
}

.overview__body{
	box-shadow: 0 5px 10px rgba(0,0,0,.3); 
	position: relative;
	padding: 2rem;
	z-index: 10;
}

.overview__subtitle{
	margin: 0;
	text-align: center;
	padding: .5rem 0 2rem 0;
}

.overview__content{
	display: grid;
	place-items: center;
	grid-template-columns: repeat(3, 1fr);
	gap: 1rem;
}

@media screen and (min-width: 768px){
	.overview__content{
		width: 80vw;
		margin: auto;
	}
}

.overview__icon{
	padding: 0 .3em;
	cursor: pointer;
	transition: transform .5s;
	position: relative;
}

.overview__icon::before{
	content: attr(data-name);
	position: absolute;
	top: -35px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	padding:10px 5px;
	background-color: rgba(0,0,0,.7);
	color: #fff;
	text-align: center; 
	border-radius: 5px;
	visibility: hidden;
}


@media screen and (min-width: 768px){
	.overview__icon:hover{
		transform: scale(1.1);
	}

	.overview__icon:hover::before{
		visibility: visible;
	}
}

.gallery{
	background-color: #e7e7df;
}

.gallery__title{
	padding: 32px 16px;
	text-align: center;
	margin: 0;
}

.gallery__body{
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	padding: 2rem 0;
	grid-gap: 2rem;
	max-width: 85vw;
	margin: auto;

}

.gallery__container{
	background-color: #111;
	overflow: hidden;
	border-radius: 4px;
	box-shadow: 0 5px 10px rgba(0,0,0,.3); 
	cursor: pointer;
}

.gallery__image{
	object-fit: cover;
	transition: transform .5s, opacity .5s;
	width: 100%;
	height: 100%;
}

@media screen and (min-width: 768px){
	.gallery__image:hover{
		opacity: .7;
		transform: scale(1.2);
	}
}

.modal{
	background-color: rgba(0,0,0,.5);
	position: fixed;
	width: 100%;
	height: 100vh;
	top:0;
	left: 0;
	z-index: 1000;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	transform: scale(0);
	transition: opacity .5s ease, transform .5s ease;
}

.modal--show{
	opacity: 1;
	transform: scale(1);
}


.modal__container{
	background-color: #eee;
	border-radius: 8px;
	width: 90vw;
	height: 90vh;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	text-align: center;
}

/*@media screen and  {
	.modal__container{
		overflow-y: scroll;
		justify-content: flex-start;
	}
}
*/

.modal__image{
	box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.modal__link{
	text-decoration: none;
	color: var(--mediumBlue);
}

.modal__description{
	line-height: 1.2;
	margin: 32px 0;
}


.fa-times-circle{
	color: var(--mediumBlue);
	font-size: 2rem;
	position: absolute;
	top: 3%;
	right: 4%;
	animation-name: rotatebutton;
	animation-duration: 1s;
}

@keyframes rotatebutton{
	0%{
		transform: rotate(0);
	}

	100%{
		transform: rotate(360deg);
	}
}


@media screen and (min-width: 768px){
	.modal__container{
		width: 70vw;
		padding: 2rem;
	}

	.modal__image{
		width: 85%;
	}

	.fa-times-circle{
		top: 5%;
		right: 4%;
		transition: transform 1s;
	}

	.fa-times-circle:hover{
		transform: rotate(-360deg);
	}

}

.info{
	padding: 2rem;
	box-shadow: 0 5px 10px rgba(0,0,0,.3); 
	position: relative; 
	z-index: 10;
}

.info__title{
	text-align: center;
}

.info__body{
	display: grid;
	grid-template-columns: 1fr;
	place-items: center;

}

@media screen and (min-width: 768px){
	.info__body{
		grid-template-columns: 200px 1fr;
		gap: 2rem;
	}
}

.info__picture{
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	box-shadow: 5px 0px 10px rgba(0,0,0,.2);
}

.info__description{
	line-height: 28px;
	font-size: 1.1rem;
}

.contact{
	padding: 2rem 1rem;
	background-color: #e7e7df;
	position: relative;
}


.form{
	padding: 32px 20px;
	background-color: #fff;
	border-radius: 10px;
	max-width: 1200px;
	margin: 0 auto;
}

@media screen and (min-width:  768px) {
	.form{
		padding: 36px;
	}
}


.contact__field{
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	font-weight: bold;
}

.contact__label{
	margin-bottom: 12px;
}

.contact__input{
	font-family: inherit;
	padding: 15px;
	outline: none;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: 6px;
	resize: vertical;
}

.contact__input:focus{
	border: 1px solid rgba(0, 88, 124, .8);
}	

.contact__button{
	display: flex;
	justify-content: center;
}

.contact__message{
	max-width: 1200px;
	margin: 24px auto;
	background-color: var(--mediumBlue);
	border-radius: 5px;
	color: #eee;
	padding: 1rem 3rem;
	text-align: center;
	visibility: hidden;
	opacity: 0;
	transform: translateY(-100px);
	transition: transform .5s ease, opacity .5s linear;
}

.contact__message--show{
	visibility: visible;
	opacity: 1;
	transform: translateY(0);
}

.btn{
	border: 2px solid rgba(0,0,0,0);
	outline: none;
	background-color:  var(--mediumBlue);
	color: var(--fontWhite);
	padding: 1em 6em;
	border-radius: 5px;
	cursor: pointer;
	transition: background .5s, color .5s;
}
@media screen and (min-width: 768px){
	.btn:hover{
	background-color: #fff;
	border: 2px solid var(--mediumBlue);
	color: var(--mediumBlue);
	}
}


.footer{
	background-color: var(--mediumBlue);
	color: var(--fontWhite);
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
}

.social{
	flex: 1 0 auto;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;

}

.social__link{
	color: #fff;
	display: block;
	padding: 0 .3em;
	font-size: 3em;
}

.social__link i{
	transition: color .3s;
}

@media screen and (min-width: 768px){
	.social__link i:hover{
		color:#d2d2d2;
	}
}

.footer__info{
	padding-right: 5em;
}


@media screen and (min-width: 768px){

	.topbar{
		width: auto;
		position: static;
		transform: translateX(0);
	}

	.header__toggle{
		display: none;
	}

	.menu{
		flex-direction: row;
	}

	.gallery__body{
		grid-template-columns: repeat(3, 1fr);
	}

	.footer{
		flex-direction: row;
	}

}

/*  animaciones */
.animationTitle {
		animation-name: animationTitle;
		animation-duration: 3s;
}

@keyframes animationTitle{
	from{
		opacity: 0;
		transform: scale(0.9);
	}

	to{
		opacity: 1;
		transform: scale(1);
	}
}





