*{
	box-sizing: border-box;
}

body{
	font-family: 'Open Sans', sans-serif;
	min-height: 100vh;
}

:root{

	/* backgrounds */
	--mediumBlue: #00587c;
	--skyBlue: #68ced3;

	/* fonts */ 

	--fontWhite: #eee;
}

img{
	max-width: 100%;
}

.header{
	background-color: var(--mediumBlue);
	color: var(--fontWhite);
	display: flex;
	justify-content: space-between;
	box-shadow: 0px 3px 10px rgba(0,0,0,.5);
}

.header__fixed{
	position: fixed;
	top: 0;
	width: 100%;
}

.header__logo{
	display: flex;
	justify-content: center;
	align-items: center;
	padding-left: 1em;
}

.header__title{
	margin:0;
}

.header__toggle{
	font-size: 2em;
	padding: .5em;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.topbar{
	width: 100%;
	background-color: var(--mediumBlue);
	position: absolute;
	top: 63px;
	transform: translateX(-100%);
	z-index: 10;
	transition: transform .5s;
}

.topbar--show{
	transform: translateX(0);
}

.menu{
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	padding-right: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menu__links{
	display: block;
	width: 100%;
	padding: 1.5em 2em;
	text-decoration: none;
	color: var(--fontWhite);
}

.menu__item{
	transition: background-color .5s;
}

.menu__item:hover{
		background-color: var(--fontWhite);
	}

.menu__links:hover{
		color: var(--mediumBlue);
	}



.content{
	/* editar luego*/ 
}

.overview{

}

.overview__header{
	padding: 10em 8em;
	background: linear-gradient(to bottom, var(--mediumBlue), var(--skyBlue));
}

.overview__title{
	font-size: 5vmax;
	color: #fff;
	margin:0;
	text-align: center;
}

.overview__body{
	border-bottom: 1px solid #000;
}

.overview__text{
	margin: 0;
	padding: .5em;
	text-align: center;
}

.overview__content{
	display: flex;
	justify-content: center;
	font-size: 5em;
}

.overview__icon{
	padding: .2em .3em;
}


.gallery{
	background-color: #e7e7df;
}

.gallery__header{
	padding: 1em;
}

.gallery__body{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	padding: 1em;
	grid-gap: 1em;
	border-bottom: 1px solid #000;
}

.gallery__image{
	object-fit: cover;
	border: 10px solid #fff;
	border-radius: 5px;
}

.info{
	padding: 1em;
	border-bottom: 1px solid #000;
}

.info__header{
	padding: 1em;
}

.info__body{
	display: flex;
	flex-direction: column;
	align-items: center;

}

.info__img{
	flex: 1 0 auto;
}

.info__picture{
	object-fit: cover;
	width: 160px;
	height: 160px;
	border-radius: 50%;
}

.info__description{
	margin-left: 8px;
	line-height: 25px;
}

.contact{
	padding: 1em;
	background-color: #e7e7df;

}

.contact__wrapper{
	max-width: 85vw;
	margin:auto;
}

.form{
	padding: 2em;
	background-color: #fff;
	border-radius: 10px;
}

.contact__container{

}

.contact__field{
	display: flex;
	flex-direction: column;
	margin-bottom: 1em;
	font-weight: bold;
}

.contact__label{
	padding-bottom: .5em;
}

.contact__input{
	padding: .5em .5em 1em .5em;
	outline: none;
	border: none;
	border-bottom: 2px solid #d9d9d9;
	resize: vertical;
}

.contact__input:focus{
	border-bottom: 2px solid var(--mediumBlue);
}	

.contact__button{
	display: flex;
	justify-content: center;
}

.btn{
	border: 2px solid rgba(0,0,0,0);
	outline: none;
	background-color:  var(--mediumBlue);
	color: var(--fontWhite);
	padding: 1em 6em;
	border-radius: 5px;
	cursor: pointer;
}

.btn:hover{
	background-color: #fff;
	border: 2px solid var(--mediumBlue);
	color: var(--mediumBlue);
}


.footer{
	background-color: var(--mediumBlue);
	color: var(--fontWhite);
	padding: 3em 1em;
	display: flex;
	flex-direction: column;
}

.social{
	flex: 1 0 auto;
	list-style: none;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
	display: flex;

}

.social__link{
	color: #fff;
	display: block;
	padding: 0 .3em;
	font-size: 3em;
}

.footer__info{
	padding-right: 5em;
}


@media screen and (min-width: 1024px){

	.topbar{
		width: auto;
		position: static;
		transform: translateX(0);
	}

	.header__toggle{
		display: none;
	}

	.menu{
		flex-direction: row;
	}

	.gallery__body{
		grid-template-columns: repeat(3, 1fr);
	}

	.info__body{
		flex-direction: row;
	}

	.footer{
		flex-direction: row;
	}

}



